body{
    font-family: 'Permanent Marker', cursive;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.name-highlight{
    color: rgb(211, 113, 47);
}
.half-width{
    width: 35%;
    float: left;
    margin: 5%;
    padding: 2%;
}
.half-width img{
    width: 90%;
}
.half{
    width: 35%;
    float: right;
    margin: 5%;
    padding: 2%; 
}
.half-w{
    width: 35%;
    float: ;
    margin: 5%;
    padding: 2%;
}
.half img{
    width: 90%;  
}
section{
    height: 500px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius:5%;
    color: white;
    font-weight: 700;
}
.link-button2{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding:10px 30px;
    color: white;
    font-weight: 700;
}
